version = [1, 0, 0]

[basic]
guild_id = 0             # Change! Must be a valid guild (server) ID.
admin_role_id = 0        # Change! Must be a valid role ID.
bot_channel_id = 0       # Change! Must be a valid channel ID.

[basic.temporary_files]
directory = ".temp"      # Directory for temporary files.
clear_on_startup = true  # Clear temporary files when the bot starts.
clear_on_shutdown = true # Clear temporary files when the bot shuts down.

[basic.logger]
level = "info"           # Logging level. Options: "debug", "info", "warning", "error", "critical".
directory = "logs"       # Directory for log files.
filename_format = "%Y-%m-%d_%H-%M-%S.log"  # Log file name format.
traceback_in_console = false  # Show traceback in the console.

[presence]
enabled = true            # Enable presence module.
data_filepath = "data/presence.json"  # Path to the presence data file (must be a JSON file).

[role_assignment]
enabled = true            # Enable role assignment module.
data_filepath = "data/role_assignment.json"  # Path to the role assignment data file (must be a JSON file).

[voice_channel_manager]
enabled = true            # Enable voice channel manager.
managed_category_id = 0  # Change! Must be a valid category ID.
ignore_bots = true  # Ignore bot users when determining if a channel is empty

channel_order_strategy = "first available"  # Options: "random" or "first available".
ensure_unique_names = true  # Ensure channel names are unique.
overflow_channel_name = "Room {number}"  # Fallback name. {number} will be replaced with a number based on the order.

available_channel_names = ["Room A", "Room B"]  # Predefined channel names. Leave empty for defaults.

[voice_channel_manager.logging]
channel_events = true  # Log details about the channel when it is created, deleted, or updated
member_events = true  # Log details about the user when they join, leave, or are moved
rate_limit = false  # Log discord rate limit warnings/errors